{% extends './base/base.html' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carga.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text-copy.css') }}">
{% endblock %}
{% block titulo %}
    PROFILE
{% endblock %}

{% block contenido %}
    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>

    <div class="container col-12 col-md-10 col-xl-9">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row align-items-center">
                    <div class="col-6 col-md-12">
                        <div class="text-center mb-3 mt-3">
                            <img src="{{ url_for('static', filename='images/user.png') }}" alt="img_usuario" width="110" height="110">
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-start mb-3 mt-3">
                            <div class="name mb-1">{{ user['nombre_usuario'] }} {{ user['apellido_usuario'] }}</div>
                            <div class="user mb-1">{{ user['user'] }}</div>
                            <div class="total ">Archivos: {{ total_archives['COUNT(*)'] }}</div>
                        </div>
                        <div class="text-center">
                            <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar sesion</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="text-center h2 mb-3 mt-3">
                    MIS ARCHIVOS
                    <div class="text-end float-end">
                        <a href="{{ url_for('CreateArchive') }}" class="btn btn-primary">Nuevo</a>
                    </div>
                </div>
                {% if total_archives['COUNT(*)'] == 0 %}
                    <div class="alert alert-secondary text-center" role="alert">
                        Hasta el momento no ha realizado registrado ningun archivo!
                    </div>
                {%endif%}
                {%if total_archives['COUNT(*)'] !=0 %}
                    <div class="row">
                        {% for archivo in archives %}
                            <div class="col-6 col-md-4 col-xl-3 mb-3 col-card">
                                <div class="card shadow-sm">
                                    <div class="contener-imagen">
                                        <img src="{{ archivo['ruta_vista'] }}" class="card-img-top imagen rounded" alt="...">
                                    </div>
                                    <div class="card-body ">
                                        <h5 class="card-title">{{ archivo['nombre_archivo'] }}</h5>
                                        <p class="card-text">
                                            <div>Peso: {{ archivo['size'] }}</div>
                                            <div>Tipo: .{{ archivo['type'] }}</div>
                                        </p>
                                        <div class="d-flex justify-content-evenly align-items-end">
                                            <div>
                                                <a href="/archive/{{ archivo['url_share'] }}" class="btn btn-success btn-sm">
                                                    <ion-icon name="eye-outline"></ion-icon>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="/archivo/editar/{{ archivo['id_archivo'] }}" class="btn btn-primary btn-sm">
                                                    <ion-icon name="create-outline"></ion-icon>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="/archivo/borrar-archivo/{{ archivo['id_archivo'] }}" class="btn btn-danger btn-sm btn-delete">
                                                    <ion-icon name="trash-outline"></ion-icon>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/carga.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alert-delete.js') }}"></script>
{% endblock %}
