.text-copy{
    height: 8px;
    width: 100%;
    overflow: hidden;

    font-size: 5px;

    display: hidden;
    display: flex;
    align-items: flex-start;

    visibility: hidden;
    opacity: 0;
}